.google-icon {
	padding-left: 14px;
	margin-right: 4px;
	width: 14px;
	height: 14px;
	background-image: url("../img/glyphicons-halflings.png");
	background-repeat: no-repeat;
	line-height: 14px;
	vertical-align: text-top;
	background-position: -24px 0;
}