.google-icon {
  padding-left: 14px;
  margin-right: 4px;
  width: 14px;
  height: 14px;
  background-image: url("../../img/glyphicons-halflings.png");
  background-repeat: no-repeat;
  line-height: 14px;
  vertical-align: text-top;
  background-position: -24px 0;
}
.box {
  background-color: #f2867d;
}
.box-live {
  background-color: #f44324;
}
.content {
  display: none;
}
/* 3 photo divide and 1 slide gallery divide */

.slide-gallery {
  border: 2px solid #f5383d;
}
.slide-gallery .photo {
  border: 1px solid #0e49d6;
  width: 160px;
  height: 90px;
  display: block;
  float: left;
}
.prepose {
  position: absolute;
  background-color: #f4d74d;
  left: 120px;
  z-index: 1;
}

.test-prefixs {
  border-radius: 3px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: .5;
}

