<!DOCTYPE HTML>
<html lang="zh-CN">
<!-- head -->
<?php 
	part('head');
?>
<body>
	<!-- header -->
	<?php
		part('header');
	?>

	<!-- container test -->
	<div class="container">
		<div class="row-fluid">
			<div class="span3"><?php part('slide'); ?></div><!--/span3-->
			<!-- main -->
			<div class="span9"><?php part('main'); ?></div><!--/span9-->
		</div><!--/row-->
	</div>


	<!-- footer -->
	<?php 
		part('footer');
	?>

	<!-- javascript -->
	<!-- TODO: 用 douban Do 代替 -->
	<script type="text/javascript" src="static/js/something.js"></script>
	<script type="text/javascript" src="static/js/portrait.js"></script>
	<script type="text/javascript" src="static/js/form.js"></script>
	<script type="text/javascript" src="static/js/message.js"></script>
	<!-- <script type="text/javascript" src="static/js/unload.js"></script> -->

	<!--[if IE]>
		<script type="text/javascript" src="static/js/cssSandpaper/EventHelpers.js">
		</script>
		<script type="text/javascript" src="static/js/cssSandpaper/cssQuery-p.js">
		</script>
		<script type="text/javascript" src="static/js/cssSandpaper/jcoglan.com/sylvester.js">
		</script>
		<script type="text/javascript" src="static/js/cssSandpaper/cssSandpaper.js">
		</script>
	<![endif]--> 
</body>
</html>