<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<!-- head -->
<head><?php part('head');?></head>
<body>
	<?php part('body');?>
	<!-- header -->
	<?php part('header');?>

	<!-- container test -->
	<div class="container">
		<div class="row-fluid">
			<div class="span3"><?php part('slide'); ?></div><!--/span3-->
			<!-- main -->
			<div class="span9"><?php part('main'); ?></div><!--/span9-->
		</div><!--/row-->
	</div>

	<!-- footer -->
	<?php part('footer');?>
</body>
</html>