<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head><?php part('head');?></head>
<body>
	<?php part( 'lt-ie7' );?>
	<?php part('header');?>

	<div class="container"><?php part('main') ?></div>
	<!-- footer -->
	<?php part('footer');?><!-- /footer -->

	<!-- Script -->
	<script type="text/javascript" src="static/js/lib/plugins.js"></script>
	<?php part('script') ?>

</body>
</html>